@charset "UTF-8";
/* CSS Document */


/* Basics
----------------------------------- */

/* clearfix fix */
.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* IE < 8 */
}


body {
	background:#00adef url("http://assets.paleycenter.org/i/bkgd/bg-site.jpg") no-repeat;
	background-size:100%;
	background-attachment:fixed;
	font: normal 12px/18px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
}

	body.bg01 {
		background:#00adef url("http://assets.paleycenter.org/i/bkgd/bggradient01.gif") no-repeat; 
		background-size:100%; 
		background-attachment:fixed;
	}
	
	body.bg02 {
		background:#575faa url("http://assets.paleycenter.org/i/bkgd/bggradient02.gif") no-repeat; 
		background-size:100%; 
		background-attachment:fixed;

	}
	
	body.bg03 {	
		background:#555ead url("http://assets.paleycenter.org/i/bkgd/bggradient03.gif") no-repeat; 
		background-size:100%; 
		background-attachment:fixed;

	}
	
p li {
	color:#333;
	/*font-size:12px;
	line-height: 1.5em; */
	font: normal 12px/15px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	/*padding: 2px 0px 0px 0px;
	color:#777;
	font-size:11px;
	line-height:15px;
	text-transform:uppercase;	 */
}

#page {
	margin: 0 auto;
	 text-align: left;
	width: 988px;
	height:1275px; 
}

#content {
	padding: 0 18px 30px;
	position: relative;
	width: 952px; 
	background: white;
	color: #333;
	height:100%;
}
	

#header {
	height: 114px;
	padding-top: 26px;
	width: 988px;
}



#logo-print { display:none; }

.nav-bar {
	margin-bottom:5px;
}	


/* Top Navigation
----------------------------------- */
	
#nav {
	color: #000;
	background: url("http://assets.paleycenter.org/i/bkgd/bg-topnav.gif") repeat-x 0 48px;
	list-style: none;
	margin: 0;
	height: 50px;
	padding: 0;
	width: 952px;
}
	
	#nav li {
		float: left;
		height: 48px;
		padding-right: 35px;
	}

	
	#nav #perspectives {
		width: 149px;
	}
	#nav #blogs {
		width: 38px;
	}
	#nav #collection {
		width: 102px;
	}
	#nav #events {
		width: 112px;
	}
	#nav #media-council {
		width: 97px;
	}
	#nav #join-us {
		width: 80px;
	}
	#nav #screening-room-2012 {
		width: 110px;
	}
		
	#nav a {
		background-color:transparent;
		background-repeat: no-repeat;
		background-position: 0 -4px;
		border-top: 4px solid #fff;
		color: #666;
		display: block;
		height:44px;
		line-height:44px;
		font-size: 10px;
		overflow: hidden;
		/*padding: 22px 0 16px;*/
		text-decoration: none;
		text-indent: -10000px;
		text-transform: uppercase;
	}
	
	#nav a:hover {
		background-position: bottom left;
		border-top-color: #000;
		color: #000;
	}
	
	#nav #perspectives a {
		background-image: url("http://assets.paleycenter.org/i/global/nav-perspectives.gif");
	}
	#nav #blogs a {
		background-image: url("http://assets.paleycenter.org/i/global/nav-blogs.gif");
	}
	#nav #collection a {
		background-image: url("http://assets.paleycenter.org/i/global/nav-collection.gif");
	}
	#nav #events a {
		background-image: url("http://assets.paleycenter.org/i/global/nav-programs.gif");
	}
	#nav #media-council a {
		background-image: url("http://assets.paleycenter.org/i/global/nav-mediacouncil.gif");
	}
	#nav #join-us a {
		background-image: url("http://assets.paleycenter.org/i/global/nav-join-us.gif");
	}
	#nav #screening-room-2012 a {
		background-image: url("http://assets.paleycenter.org/i/global/nav-screeningroom.gif");
	}
	
	#nav em {
		background-color:transparent;
		background-repeat: no-repeat;
		background-position: bottom left;
		border-top: 4px solid #000;
		color: #000;
		display: block;
		font-size: 10px;
		height: 44px;
		line-height: 44px;
		overflow: hidden;
		text-decoration: none;
		text-indent: -10000px;
		text-transform: uppercase;
	}
	
	#nav em a {
		background-position: bottom left;
		border-top: 0;
		color: #000;
	}
	
		#nav em a:hover {
			background-position: bottom left;
		}
	
	#nav #perspectives em {
		background-image: url("http://assets.paleycenter.org/i/global/nav-perspectives.gif");
	}
	#nav #blogs em {
		background-image: url("http://assets.paleycenter.org/i/global/nav-blogs.gif");
	}
	#nav #collection em {
		background-image: url("http://assets.paleycenter.org/i/global/nav-collection.gif");
	}
	#nav #events em {
		background-image: url("http://assets.paleycenter.org/i/global/nav-programs.gif");
	}
	#nav #media-council em {
		background-image: url("http://assets.paleycenter.org/i/global/nav-mediacouncil.gif");
	}
	#nav #join-us em {
		background-image: url("http://assets.paleycenter.org/i/global/nav-join-us.gif");
	}
	#nav #screening-room-2012 em {
		background-image: url("http://assets.paleycenter.org/i/global/nav-screeningroom.gif");
	}

	
/* Screening Room
----------------------------------- */

#screen {
	background-image: url(http://assets.paleycenter.org/assets/collection/screening-room/paley-screening-room-bkgd1.png);
	background-repeat:no-repeat;
	background-position:center; 
	height: 504px; 
	width: 951px;
}

.BrightcoveExperience {
	position:absolute;
	top:165px;
	left:203px;
}

#video_info {
	position:absolute;
	left:207px;
	top:490px;
	/*background-image: url(http://paleycenter.org/img/player-border3.png);
	background-repeat:no-repeat; */
	border:1px solid #000;
	height: 65px; 
	width: 490px;
	background: #fff;
	
}

/* jquery menu */
.ui-menu { 
	width: 165px; 
	font: bold 11px/15px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	z-index:100;
}

    
.left_nav_sr {
	width:230px;
	/*height:700px;*/
	color:#009cd6;
}
/*
.video_cols a {
	color:#009cd6;
	border:1px solid #000;
}
*/
.video_cols {
	position:absolute;
	left:207px;
	top:570px;
	width:785px;
	/*height:700px;*/	
	color:#009cd6;
	
	
}

.video_cols ul:nth-child(2){
	/*position:relative;
	list-style: none;
	margin: 0;
	height: 50px;
	padding: 0;
	float:left; */
	/*column-count: 3;
  	column-gap: 0;
	width:785px;
	*/
	padding-top:15px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*height: 306px; /* account for borders */
	width: 735px;	
	height: 700px;
 
	
}

.video_cols ul:nth-child(2) li{
	width:245px;
	height:130px;
	/*display: inline-block;*/
}





 
/*
.video_info {
	float:right;
	width:100%;
}
*/

#col_heads {
	width:785px;
}

	#col_heads li {
		min-width:245px;
		overflow:visible;
	}
	/*
	#col_heads li sr-subhead{
		color:#000;
		font-size:16px;
		line-height:18px;
		font-weight:bold;
	}
	
	#col_heads li sr-title{
		padding: 0px 0px 4px 0px;
		color:#057baf;
		font-size:11px;
		line-height:15px;
	}
	*/



	.video_cols li {
		float: left; 
	}
	
.video_col {
	position:absolute;
	width:245px;
}

  .video_col li{
	  height:130px;
  }
	



	


#sr-menu {
	font: bold 11px/15px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	padding: 0px 0px 12px 0px;
	color:#057baf;
	font-size:11px;
	line-height:15px;
}

	#sr-menu a {
		text-decoration:none;
		color:#009cd6;
	}

.sr-subhead {
	/*font: bold 16px/18px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	color:#000;
	font-size:16px;
	line-height:18px;
	font-weight:bold; */
	color:#000;
	font-size:16px;
	line-height:18px;
	font-weight:bold;

}

.sr-desc {
	/* font: normal 9px/15px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	padding: 2px 0px 0px 0px;
	color:#777;
	font-size:9px;
	line-height:15px;
	text-transform:uppercase; */
	padding: 2px 0px 0px 0px;
	font-size:9px;
	line-height:15px;
	text-transform:uppercase;
	color:#777;
	font-weight:normal;
}

.title_wrapper {
	float:right;
	width:110px;
	padding-right:10px;
}

.thumbnail {
	float:left;
	padding-right:0px;
	height:89px;
}



.video_block ul {
	display: inline-block;
	width: 40%;
	margin: 0 2% 0 0;
	display:-moz-inline-box;
	width:100px;
}

	/* title */
	.video_block li:first-child {
		padding: 0px 0px 4px 0px;
		color:#057baf;
		font-size:11px;
		line-height:15px;
		float:right;
		width:100px;
	}
	
	
	/* description */
	.video_block li:nth-child(2) {
		color:#777;
		font-size:9px;
		line-height:10px;
		text-transform:uppercase;
		float:right;
		width:100px;
	}




#sr-title {
	/*
	font: bold 11px/15px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	padding: 0px 0px 4px 0px;
	color:#057baf;
	font-size:11px;
	line-height:15px;
	*/
	text-decoration:none;
	padding: 0px 0px 4px 0px;
	color:#057baf;
	font-size:11px;
	line-height:15px;
}


#sr-date {
	font: normal 9px/10px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	color:#777;
	font-size:9px;
	line-height:10px;
	text-transform:uppercase
}

#more_link_1 a {
	position:absolute;
	top:700px;
	left:0px;
	font: bold 10px/11px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	color:#057baf;
	font-size:10px;
	line-height:11px;	
}

#more_link_2 a {
	position:absolute;
	top:700px;
	left:245px;
	font: bold 10px/11px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	color:#057baf;
	font-size:10px;
	line-height:11px;	
}

#more_link_3 a {
	position:absolute;
	top:700px;
	left:490px;
	font: bold 10px/11px "Lucida Sans", "Lucida Grande", Trebuchet, "Trebuchet MS", Arial, sans-serif;
	text-align: left;	
	color:#057baf;
	font-size:10px;
	line-height:11px;	
}


.footer p {
	color:#fff;
	font-family:'Lucida Sans','Lucida Grande',Trebuchet,'Trebuchet MS',Arial,sans-serif;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	line-height:20px;
	height:100px;
}

#autocomplete {
	width:120px;
}

.ui-autocomplete {
	text-align:left; !important
}

#error_message {
	position:absolute;
	left:207px;
	top:570px;
	width:775px;
	z-index:10000;
	background-color:#FFF;
}


/* Screening Room
----------------------------------- */

footer { display: block; }

.footer-links {
	margin:0;
	padding:0;
	list-style:none;
}
	.footer-links li {
		float:left;
		margin:0 0 0 10px;
	}
	.footer-links li:first-child {
		margin:0;
	}

.CCL-footer {
	position:relative;
	height:80px;
	border-top:1px solid #FFF;
	margin:24px 0 0;
}

.footer-text {
	position:absolute;
	top:0;
	right:0;
	text-align:right;
	color:#FFF;
	padding:20px 0 0;
}

	.footer-text p {
		margin:0;
		font-size:10px;
		color:#FFF;
	}

.page-template-page-columncontent-landing-php footer {
	display:none;
}



footer[role="contentinfo"] {
	clear: both;
	font-size: 11px;
	line-height: 1;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 62px;
}
footer[role="contentinfo"] a {
	color: #fff;
}
footer[role="contentinfo"] a:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
	border-bottom-width: auto;
}
.footer-menu .search {display: none;}

.footer-right {
	width:432px;
	float: right;
}
.footer-left{
	float: left;
	width: 432px;
	color: #fff;
	font-size: 11px;
}
.footer-left p {
	color: #fff;
	padding: 0 0 10px 0;
	margin: 0;
	line-height: 1;
	font-size: 11px;
}

.footer-menu{
	float: right;
}

.footer-menu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	display:block;
	position: relative;
	height:25px;
	font-size:11px;
}

.footer-menu li{
	display:block;
	float:left;
	padding:0;
	margin: 0 0 10px 0;
	text-transform: none;
}

.footer-menu li a {
	display:block;
	float:left;
	text-align: left;
	color:#fff;
	text-decoration:none;
	border:none;
}

.footer-menu .current_page_item a{
	color:#000;
}

.footer-menu li a:hover {
	color:#ccc;
	border:none;
	text-decoration: none;
}

.footer-seperator{
	border-right: 1px solid #fff;
	margin-right: 10px;
	margin-left: 10px;
}

.footer-menu li:first-child .footer-seperator,.footer-menu li:nth-child(5) .footer-seperator{border: transparent; margin: 0 10px;}


.restricted-content { position:relative; width:415px; margin:auto; }
	.restricted-content .restricted-left { float:left; width:196px; }
	.restricted-left em { font-style: normal; color:#000000; font-weight:bold; }
	.restricted-content .uam_login_form { 
		float:right; border:solid 1px #e0e0e0;
		padding:10px;
		-webkit-border-radius: 6px; 
		-moz-border-radius: 6px; 
		border-radius: 6px; 
	}
	.restricted-content .uam_login_form input.input { width:175px; }
	.restricted-footer { padding:40px 0 0; }
		.restricted-footer img { margin:0 20px 0 0; }
		.restricted-footer h1 { margin:0 0 20px; background-color: #b3b3b3; text-align:center; color:#fff; font-size:16px; line-height:32px; font-weight:normal; }
		.restricted-footer h2 { margin:0 0 5px; }
		.restricted-footer h5 { margin:0px; text-transform:uppercase; }
		
.footer p {
	color:#fff;
	font-family:'Lucida Sans','Lucida Grande',Trebuchet,'Trebuchet MS',Arial,sans-serif;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	line-height:20px;
	height:100px;
}


